<section id="about">
    <h3>About Me</h3>
    <p>
        Hello! My name is Anton Korchynskyi. I am a highly motivated and dedicated student seeking opportunities to apply and expand my technical skills in a software development role. I am eager to contribute to innovative projects, collaborate with teams, and continuously learn and grow as a professional.
    </p>
    <p>
        I was born and raised in Ukraine, but nowadays, I live and study in Canada. I am enrolled in the Computer Programming and Analysis Diploma Program at Georgian College in Barrie, Ontario.
    </p>
    <p>
        My technical skills and knowledge include, but are not limited to, Python, Java, JavaFX, C#, JavaScript, HTML/CSS, MySQL, MS SQL, PHP, ASP.NET, Docker, C++, Git, and GitHub.
    </p>
</section>