<section id="contact">
    <h3>Contact Me</h3>
    <div class="form-div">
        <form action="">
            <div class="form-div-in">
                <div class="inputs-12">
                    <input placeholder="Name" type="text" name="name">
                    <input placeholder="Email" type="email" name="email">
                </div>
                <input placeholder="Subject" type="text" name="subject">
                <textarea placeholder="Message" name="message"></textarea>
            </div>
            <button class="btn btn-dark form-button">Submit</button>
        </form>
    </div>
</section>