<section class="index">
    <img src="/images/Updated_My_Image.png" alt="my_photo">
    <div>  
        <h3 class="index-p">Why, hello there! My name is <p id="name">Anton Korchynskyi</p></h3>
        <p class="index-p">I am just a student with passion to learn coding. Originally from Ukraine but currently live and study in Canada.</p>
        <p class="index-p">I am enrolled in Computer Programming and Analysis Diploma Program at Georgian College in Barrie, Ontario province</p>
        <p class="index-p">To know more about me or contact me you can use the buttons at the top of the page</p>
    </div>
</section>