<section class="projects">
    <h3>My Projects</h3>
    <div class="proj-1">
        <h3>Software for Georgian College</h3>
        <ul>
            <li>Successfully designed a solution and created an executable application using Python that automatically reads and validates email addresses from an Excel file and sends emails to them</li>
            <li>Georgian College, Document Automation Python</li>
            <li>Tools used: Python, Git, GitHub, Visual Studio Code</li>
            <li>April 2023- May 2023</li>
        </ul>
    </div>
    <div class="proj-2">
        <h3>SoundHouseFun</h3>
        <ul>
            <li>Developed an online music store using Visual Studio with an MS SQL database backend and enabled user registration, song purchases, and downloads. Integrated Stripe API for payments, implemented Google Authorization and introduced an Admin role for content management</li>
            <li>Georgian College, Server-Side Scripting using ASP.NET Course</li>
            <li>Tools used: C#, ASP.NET, Stripe API, MS SQL, HTML, CSS, Bootstrap, Visual Studio</li>
            <li>August 2023</li>
        </ul>
    </div>
    <div class="proj-3">
        <h3>WordsAPI Project</h3>
        <ul>
            <li>A JavaFX application that retrieves word information from the Words API, allowing users to explore definitions and details of inputted words. The application also allows users to choose a random word and find data about it</li>
            <li>Georgian College, Advanced Object-Oriented Programming using Java Course</li>
            <li>Tools used: Java, JavaFX, WordsAPI, JSON, GSON</li>
            <li>August 2023</li>
        </ul>
    </div>
</section>